{% extends 'index.html' %}

{% block contenido %}
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body text-center">
            <div style="display: flex;width: 100%;justify-content: space-between;align-items: center;padding-left: 10px;padding-right: 10px;">
                <h4 class="card-title">COMPRAS</h4>
                <a href="{% url 'web:crear_compra' %}" class="btn btn-primary style="border-radius: 10px;font-weight: bold;padding: 10px;color: white;align-items: center;" ><svg xmlns="http://www.w3.org/2000/svg" style="margin-right: 5px;" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>Registrar Compra</a>
              </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                    <th style="text-align: left;">Proveedor</th>
                    <th style="text-align: left;">Inventario</th>
                    <th style="text-align: left;">Total de la compra</th>
                    <th>Acciones</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for compra in compras %}
                <tr>
                    <td style="text-align: left;">{{compra.proveedor}}</td>
                    <td style="text-align: left;">{{compra.inventario}}</td>
                    <td style="text-align: left;">Bs. {{compra.total_compra}}</td>
                 
                    <td>
                      <div style="display: flex; justify-content: center; gap: 5px; align-items: center;">
                        <button type="button" class="btn btn-danger" style="padding:10px;" data-toggle="modal" data-target="#confirmDeleteModal{{ compra.id_compra }}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12Z"/></svg>
                        </button>
                    </div>
                    <div class="modal fade" id="confirmDeleteModal{{ compra.id_compra }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modalLabel">Confirmar Eliminación</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="width: 100%;overflow-wrap: anywhere;white-space: normal;">
                                    ¿Estás seguro de que deseas eliminar esta compra? <br> 
                                    <strong>{{compra.proveedor}}/ ({{compra.inventario}})</strong>
                                    
                                </div>
                                <div class="modal-footer">
                                    <!-- Formulario para enviar la solicitud de eliminación -->
                                    <form action="{% url 'web:eliminar_compra' id_compra=compra.id_compra %}" method="post">
                                        {% csrf_token %}
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                        <input type="submit" class="btn btn-danger" value="Eliminar">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </td>
                </tr>
                
                    
                {% endfor %}
               
              </tbody>
            </table>
            {% if not compras %}
            <div style="width: 100%;text-align: center;justify-content: center;padding: 10px;">
                <div style="text-align: center;width: 100%;justify-content: center;">No hay compras registradas</div>
            </div>
            {% endif %}
            <div class="pagination" style="width: 100%;justify-content: center;align-items: center;">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; primera</a>
                        <a href="?page={{ page_obj.previous_page_number }}">anterior</a>
                    {% endif %}
            
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <strong>{{ num }}</strong>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
            
                    <span class="current">
                        Página {{ page_obj.number }} de {{ items.paginator.num_pages }}.
                    </span>
            
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">siguiente</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">última &raquo;</a>
                    {% endif %}
                </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    
  </div>
{% endblock %}